.main{
    height: 100vh;
    background: linear-gradient(180deg, #1f1619, #1c1417, #191114, #150f11, #110b0d, #0c0809, #060405, #000000);
    color: white;
    text-align: center;
    height: 100vh;
}
.main h1{
    margin-top:10% ;
    font-size: 5rem;
}
.stack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60%;
    padding-left: 10%;
}

.stack div{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
height: 18vw;
width: 12vw;
opacity: 0;
filter: blur(5px);
transform: translate(-100%);
scale: 0;
padding: 1rem;

/* Blured card effect */
border: 1px solid rgba(92, 92, 92, 0.329);
border-radius: 20px;
background-color: rgba(255, 255, 255, 0.164);
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

}

.stack div:nth-child(1){
    transform: translateX(30vw);
}
.stack div:nth-child(2){
    transform: translateX(15vw);
}
.stack div:nth-child(3){
    transform: translateX(0vw);
}
.stack div:nth-child(4){
    transform: translateX(-15vw);
}
.stack div:nth-child(5){
    transform: translateX(-30vw);
}

.stack div.show:nth-child(1){
    transition: all 1s;
}
.stack div.show:nth-child(2){
    transition: all 1.2s ;
}
.stack div.show:nth-child(3){
    transition: all 1.4s ;
}
.stack div.show:nth-child(4){
    transition: all 1.6s ;
}
.stack div.show:nth-child(5){
    transition: all 1.8s ;
}
.stack div.show{
    scale: 1;
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.main div img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}



/* .mainAnimate{
    animation: apear 1s linear;
}

@keyframes apear {
    from{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
} */


/* You can make animation with @keyframes or just add class with specific css properties for each item in list to have an unique animation for themselves so you can controll it */
